.sidebar {
    width: 320px;
    margin-left: 15px;
    background-color: #F0F0F1;
    height: 100%;
    color: #4A4B57;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu-section {
    width: 90%;
    align-self: center;
    margin-top: 15px;
}
@mixin menu-title {
    color: #5A5B6A;
    font-size: 14px;
    font-weight: bold;
}
@mixin menu-title-underline {
    content:"";
    display:block;
    border-bottom: 1px solid #D2D2D6;
}
.menu-section .menu-title {
    @include menu-title;
}
.menu-section .menu-title:after {
    @include menu-title-underline;
    margin-top: 10px;
}
.work-item-list {
    padding-inline-start: unset !important;
}
.work-item-list .item {
    list-style-type: none;
    height: 46px;
    display: flex;
    align-items: center;
}
.work-item-list .item:hover {
    color: #2979FF;
    background-color: #CEE5FF;
}
.work-item-list .item .item-icon {
    display: inherit;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    width: 20px;
    height: 20px;
    color: #787885;
}
.work-item-list .item .item-name {
    font-size: 18px;
    margin-left: 10px;
}
.menu-section .ant-menu-submenu-arrow {
    position: absolute;
    right: 40px;
}
.menu-section .folder-title {
    @include menu-title;
}
.menu-section .folder-title::after {
    @include menu-title-underline;
}
.ant-menu {
    background-color: #F0F0F1 !important;
}
.ant-menu-item {
    height: 46px !important;
    font-size: 18px !important;
}
.ant-menu-item:hover {
    background-color: #CEE5FF;
}
.ant-menu .ant-menu-sub .ant-menu-inline {
    background-color: #F0F0F1 !important;
    margin-left: 20px;
}
.ant-menu-title-content {
    position: relative !important;
    right: 20px !important;
}
.ant-menu-submenu-title {
    padding-right: unset !important;
    padding-left: 20px !important;
    width: 107% !important;
}
.ant-menu-item:active, .ant-menu-submenu-title:active {
    background: unset !important;
}
.selector {
    width: 100% !important;
}
.filter-name {
    font-size: 14px;
    font-weight: bold;
}
.sub-filter {
    margin-top: 15px;
}
.checkbox-filter {
    display: flex !important;
    flex-direction: column !important;
}
.ant-checkbox-wrapper {
    margin-left: unset !important;
    padding-bottom: 10px;
}
// .ant-menu-title-content:hover {
//     color: #2979FF !important;
// }
// .ant-menu-submenu {
//     width: 100% !important;
// }
// .folder-heading a {
//     text-decoration: none;
// }
// .expand-folder {
//     float: right;
//     position: relative;
//     bottom: 40px;
// }
// #bucket-list {
//     flex-direction: column
// }
// .work-item-list .filter-selector {
//     display: flex;
//     flex-direction: column;
// }
// .filter-selector p {
//     font-size: 14px;
//     font-weight: bold;
// }
// .selector-input {
//     border-radius: 2px;
//     background-color: white;
//     border: 1px solid #D9D9D9;
//     height: 32px;
// }
// .selector-input i {
//     float: right;
//     margin-right: 15px;
//     line-height: 30px;
//     color: #D2D2D6;
// }
// .selector-input input {
//     border-style: none;
//     line-height: 30px;
//     margin-left: 10px;
// }
// .selector-input input:focus {
//     outline: none;
// }
// .selection {
//     height: 32px;
// }
// .selector .selector-list {
//     display: none;
//     flex-direction: column;
//     background-color: white;
//     margin-top: 4px;
//     border-radius: 2px;
//     position: absolute;
//     z-index: 1;
//     width: 280px;
// }
// .selector-list p {
//     margin-left: 15px;
//     color: #5A5B6A;
// }
// .checkbox-item {
//     padding-top: 10px;
// }
// .checkbox-list {
//     position: relative;
//     bottom: 10px;
// }
@media (max-width: 1536px) {
    .sidebar {
        width: 280px;
    }
}
@media (max-width: 1280px) {
    .sidebar {
        display: none;
    }
}
@media (max-width: 1024px) {
    .sidebar {
        width: 30%;
        display: block;
    }
    .menu-section {
        margin-left: 5px;
    }
}
@media (max-width: 640px) {
    .sidebar {
        width: 40%;
    }
}