.menu-title {
    .anticon-exclamation-circle {
        position: relative;
        left: 5px;
        bottom: 5px;
    }
    .folder-icon {
        float: right;
        position: relative;
        right: 5px;
        top: 8px;
    }  
}
