@import "../../../../style/mixin.scss";

.work-stream {
    margin: 20px 0;
    display: flex;
    width: 24%;
    height: 1080px;
    background-color: #F8F8F8;
    flex-direction: column;
}
@media (max-width: 1536px ) {
    .work-stream {
        width: 420px;
        .instruction {
            font-size: 14px;
        }
    }
}
@media (max-width: 1280px) {
    .work-stream {
        width: 40%;
    }
}
@media (max-width: 1024px) {
    .work-stream {
        width: 70%;
        margin-right: 15px;
    }
}