.header {
    background-color: var(--header-background-color);
    position: relative;
    z-index: 1;
    height: 54px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0px 8px 0 var(--shadow-color-dark);
    
    .left {
        display: flex;
        align-items: center;
        margin-left: 10px;
        .logo {
            color: var(--logo-color);
            display: flex;
            align-items: center;
            .menu-icon {
                font-size: 35px;
                padding: 10px;
            }
            .app-name {
                font-size: var(--four-xl);
            }
        }
        .ant-select.channel-selector {
            height: 34px;
            width: 300px;
            margin-left: 20px;
            color: var(--text-color-light);
            font-size: var(--lg);
            display: flex;
            justify-content: space-between;
            align-items: center;
            .ant-select-selector {
                background-color: #13C2C2;
                border-style: none;
                border-radius: 100px;
            }
            .ant-select-arrow {
                color: var(--text-color-light);
                font-size: var(--md);
            }
        }
        .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
            box-shadow: none;
            border-color: unset;
        }
    }
    .right {
        display: flex;
        align-items: center;
        margin-right: 10px;
        .noti-icon {
            display: inherit;
            border-radius: 100px;
            width: 30px;
            height: 30px;
            background-color: #c4c4c4;
            margin-right: 20px;
            align-items: center;
            justify-content: center;
            color: var(--text-color-light);
            &:hover {
                background-color: var(--background-hover-color);
            }
            .new-noti {
                width: 16px;
                height: 16px;
                background-color: #FF4D4F;
                color: var(--text-color-light);
                border-radius: 100px;
                font-size: var(--sx);
                text-align: center;
                position: absolute;
                top: 10px;
                margin-left: 30px;
            }
        }
        .avatar {
            color: var(--text-color-dark);
            font-size: var(--lg);
            font-weight: bold;
            padding-right: 10px;
            img {
                height: 30px;
                width: 30px;
            }
        }
    }

}
@media (max-width: 768px) {
    .header {
        .logo {
            span {
                display: none;
            }
        }
        .channel-selector {
            margin-left: unset;
        }
        .select-button {
            background-color: var(--text-color-light);
            color: #13C2C2;
        }
    }

}