@mixin menu-title {
    color: var(--text-color-dark);
    font-size: var(--md);
    font-weight: bold;
}
@mixin menu-title-underline {
    content:"";
    display:block;
    border-bottom: 1px solid var(--border-color-light);
}
.sidebar {
    width: 320px;
    margin-left: 15px;
    background-color: var(--body-background-color);
    height: 100%;
    color: var(--text-color-dark);
    display: flex;
    flex-direction: column;
    .menu-section {
        width: 90%;
        align-self: center;
        margin-top: 15px;
        .menu-title {
            @include menu-title;
            &::after {
                @include menu-title-underline;
                margin-top: 10px;
            }
        }
        .folder-title {
            @include menu-title;
            &::after {
                @include menu-title-underline;
            }
        }
        .ant-menu {
            background-color: var(--body-background-color);
            .ant-menu-sub {
                .ant-menu-inline {
                    background-color: var(--body-background-color);
                    margin-left: 20px;
                }
            }
            .ant-menu-submenu-title {
                padding-right: unset;
                padding-left: 20px;
                width: 107%;
                &:active {
                    background: unset;
                }
            }
            .ant-menu-item {
                height: 46px;
                font-size: var(--xl);
                &:hover {
                    background-color: var(--background-hover-color);
                }
                &:active {
                    background: unset;
                }
            }
            .ant-menu-title-content {
                position: relative;
                right: 20px;
                color: var(--text-color-dark);
            }
            .ant-menu-submenu-arrow {
                position: absolute;
                right: 40px;
            }
        }
        .work-item-list {
            padding-inline-start: unset;
            .item {
                list-style-type: none;
                height: 46px;
                display: flex;
                align-items: center;
                &:hover {
                    color: var(--text-hover-color);
                    background-color: var(--background-hover-color);
                }
                .item-icon {
                    display: inherit;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    font-size: var(--md);
                    width: 20px;
                    height: 20px;
                    color: var(--icon-color-dark);
                }
                .item-name {
                    font-size: var(--xl);
                    margin-left: 10px;
                }
            }
        }
        .sub-filter {
            margin-top: 15px;
            .ant-select.selector.ant-select-single.ant-select-show-arrow {
                width: 100%;
            }
            .checkbox-filter {
                display: flex;
                flex-direction: column;
                .ant-checkbox-wrapper {
                    margin-left: unset;
                    padding-bottom: 10px;
                    span {
                        font-size: var(--lg);
                        color: var(--text-color-dark);
                    }
                }
            }
        }
        .filter-name {
            font-size: var(--lg);
            font-weight: bold;
        }
    }
}
@media (max-width: 1536px) {
    .sidebar {
        width: 280px;
    }
}
@media (max-width: 1280px) {
    .sidebar {
        display: none;
    }
}
@media (max-width: 1024px) {
    .sidebar {
        width: 30%;
        display: block;
    }
    .menu-section {
        margin-left: 5px;
    }
}
@media (max-width: 640px) {
    .sidebar {
        width: 40%;
    }
}