//text
$text-color-light: white;
$text-color-dark: #4A4B57;
$text-hover-color: #2979FF;
//background
$background-hover-color: #CEE5FF;
$header-background-color: white;
$body-background-color: #F0F0F1;
//logo
$logo-color: #4A90E2;
//style
$selector-color: #13C2C2;
$shadow-color-dark: grey;
//border
$border-color-light: #D2D2D6;
//icon
$icon-color-dark: #787885