@import "../../../../style/mixin.scss";
.work-detail {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    margin: 20px;
    width: 60%;;
    border-radius: 4px 4px 0 0;
    .detail-view {
        display: flex;
        justify-content: space-between;
        width: 100%;
        #delete-icon {
            color: var(--text-warning-color);
        }
        .detail-view-left {
            width: 70%;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-right: 1px solid #E1E1E3;
            .activities-section {
                width: 95%;
                align-self: center;
                margin-top: 20px;
                .heading {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .title {
                        color: #787885;
                        font-size: var(--lg);
                        font-weight: bold;
                    }
                    .ant-checkbox-wrapper {
                        color: #5A5B6A;
                        font-size: var(--md);
                    }
                }
                .adding-activities-box {
                    display: flex;
                    flex-direction: column;
                    height: 54px;
                    box-shadow: 0px 0px 4px 0px #2979FF;
                    border-radius: 5px;
                    margin-top: 10px;
                    .adding-action {
                        display: flex;
                        justify-content: space-between;
                        margin-inline: 15px;
                        margin-top: 5px;
                        #emoji-icon {
                            font-size: var(--lg);
                            color: #2979FF;
                            margin-top: 5px;
                        }
                    }
                    .adding-input {
                        border-style: none;
                        margin-inline: 15px;
                    }
                    .adding-input:focus {
                        outline: none;
                    }

                }
                .activities-list {
                    .activities-item {
                        display: flex;
                        flex-direction: column;
                        margin-top: 15px;
                        .activities-info {
                            display: flex;
                            justify-content: space-between;
                            .info-group {
                                display: flex;
                                align-items: center;
                                span {
                                    margin-right: 15px;
                                }
                                .assignee {
                                    font-size: var(--md);
                                    // font-weight: bold;
                                    color: #292A31;
                                }
                                .created-time {
                                    font-style: italic;
                                    color: #787885;
                                    font-size: var(--sm);
                                }
                                .activities-tag {
                                    height: fit-content;
                                    width: fit-content;
                                    padding: 2px 10px;
                                    background-color: #43A047;
                                    color: white;
                                    font-size: 12px;
                                    text-align: center;
                                    border-radius: 4px;
                                }
                            }
                            .activities-actions {
                                font-size: var(--xl);
                                #delete-icon{
                                    margin-right: 10px;
                                }
                                #comment-icon {
                                    color: #2979FF;
                                }
                            }
                        }
                        .activities-title {
                            color: var(--text-color-extreme-dark);
                            font-size: var(--md);
                            margin-top: 5px;
                        }
                        hr {
                            border-top: 1px solid #E1E1E3;
                        }
                    }
                }
            }
        }
        .detail-view-right {
            width: 30%;
            display: flex;
            flex-direction: column;
            .assigment-section {
                .title {
                    font-size: var(--md);
                    color: var(--text-color-dark);
                }
                .owner-section {
                    margin: 15px 15px 0px 15px;
                    .owner-info-group {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 10px;
                        .owner-name {
                            font-size: var(--lg);
                            color: var(--text-color-extreme-dark);
                            display: flex;
                            align-items: center;
                            font-weight: bold;
                            span {
                                margin-left: 10px;
                            }
                            img {
                                border-radius: 100px;
                                height: 40px;
                                width: 40px;
                            }
                        }
                        .transfer-btn {
                            width: 120px;
                            height: 26px;
                            background-color: #40A9FF;
                            color: white;
                            font-size: 14px;
                            border-radius: 100px;
                            line-height: 25px;
                            text-align: center;
                            align-self: center;
                        }
                    }
                }
                .participant-section {
                    display: flex;
                    flex-direction: column;
                    margin: 15px 5px 0px 5px;
                    .participant-header {
                        display: flex;
                        justify-content: space-between;
                        .title {
                            margin-left: 10px;
                        }
                        .participant-group-btn {
                            color: #2979FF;
                            font-size: 16px;
                            span {
                                margin-right: 10px;
                            }
                        }
                    }
                    .participant-info-group {
                        margin-top: 10px;
                        img {
                            border-radius: 100px;
                            height: 40px;
                            width: 40px;
                            margin-left: 10px;
                        }
                    }
                }
                .date-section {
                    font-size: 16px;
                    color: #5A5B6A;
                    margin: 15px 15px 0 15px;
                    .created-date {
                        margin-top: 5px;
                    }
                }
            }
            .attachment-section {
                .attachment-title {
                    margin: 15px 15px 0 15px;
                    span {
                        height: 20px;
                        position: relative;
                        top: 10px;
                        background-color: white;
                        color: #2979FF;
                    }
                    .attachment-dash-line {
                        border-top: 1px dashed #D2D2D6;
                    }
                }
                .attachment-list {
                    margin-top: 20px;
                    .attachment-item {
                        @include display-flex;
                        padding: 5px 15px;
                        &:hover {
                            background-color: var(--background-hover-color);
                            #delete-icon {
                                font-size: var(--xl);
                                display: block;
                            }
                        }
                        span {
                            color: #5A5B6A;
                            font-size: 12px;
                            margin-right: 10px
                        }
                        .anticon {
                            font-size: var(--md);
                        }
                        .anticon-file-pdf {
                            color: #FFB41F;
                        }
                        .anticon-file-image {
                            color: #43A047;
                        }
                        .anticon-file-word {
                            color: var(--text-hover-color);
                        }
                        #delete-icon {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1536px) {
    .work-detail {
        width: 900px;
    }
    .item-description {
        font-size: 16px;
    }
    .owner-name {
        font-size: 16px;
    }
    .transfer-btn {
        width: 100px;
        font-size: 12px;
    }
 }
@media (max-width: 1024px) {
   .work-detail {
       display: none;
   }
}
