@import "../../../style/mixin.scss";
.work-detail {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    margin: 15px;
    width: 1150px;
    border-radius: 4px 4px 0 0;
    .work-item-header {
        height: 62px;
        @include display-flex;
        box-shadow: 0px 1px 4px 0px var(--shadow-color-dark);
        border-radius: 4px 4px 0px 0px;
        position: relative;
        z-index: 1;
        .work-item-title {
            margin-left: 15px;
            font-size: var(--two-xl);
            .back-icon {
                &:hover {
                    color: var(--text-hover-color);
                }
            }
            .item-name {
                margin-left: 10px;
                color: var(--text-color-dark);
                font-weight: bold;
            }
            .ant-select.status-selection {
                margin-left: 20px;
                height: 32px;
                width: 120px;
                border-radius: 100px;
                border: 1px solid #40A9FF;
                .ant-select-selector {
                    text-align: center;
                    background: unset;
                    border-style: none;
                    border-radius: 100px;
                }
                .ant-select-arrow {
                    color: #40A9FF;
                    font-size: var(--md);
                    }
                }
            .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
                box-shadow: none;
                border-color: unset;
            }
        }
        .work-item-actions {
            display: flex;
            justify-content: space-between;
            height: 40px;
            .due-date {
                color: var(--icon-color-dark);
                font-size: 12px;
                margin-right: 15px;
                .days-left {
                    color: var(--text-warning-color);
                }
                .date {
                    font-size: 14px;
                    color: var(--text-color-extreme-dark);
                    position: relative;
                    top: 5px;
                }
                > span {
                    margin-left: 5px;
                }
            }
            .importance-level {
                color: var(--icon-color-dark);
                font-size: 12px;
                margin-inline-end: 15px;
                .level {
                    color: var(--text-warning-color);
                    font-size: 14px;
                    position: relative;
                    top: 5px;
                }
                > span {
                    margin-left: 5px;
                }
            }
            .group-btn {
                margin-inline-end: 5px;
                .btn-action {
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;
                    border-style: none;
                    margin-inline-end: 10px;
                }
                .btn-action.mark-done {
                    background-color: #F0F0F1;
                }
                .btn-action.change-privacy {
                    background-color: #FFF1D6;
                    color: #FFB41F;
                }
                .btn-action.edit-work-item {
                    background-color: #CEE5FF;
                    color: #2979FF;
                }
                .btn-action.menu-action {
                    background-color: #FCCBC8;
                    color: #EF6C1F;
                }
            }
            .vertical-line {
                border-right: 1px solid var(--border-color-light);
                height: 40px;
                position: relative;
                margin-inline-end: 15px;
            }
        }
    }
    .detail-view {
        display: flex;
        justify-content: space-between;
        width: 100%;
        #delete-icon {
            color: var(--text-warning-color);
        }
        .detail-view-left {
            width: 70%;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-right: 1px solid #E1E1E3;
            .tag {
                display: flex;
                flex-wrap: wrap;
                margin-left: 15px;
                .tag-item {
                    height: 22px;
                    margin-top: 15px;
                }
                .add-tag-input {
                    height: 22px;
                    width: auto;
                    margin-top: 15px;
                }
                .add-tag {
                    margin-top: 15px;
                    height: 22px;
                    border: 1px dashed var(--border-color-light);
                }
            }
            .item-description {
                display: flex;
                font-size: 18px;
                color: #5A5B6A;
                padding: 10px 15px;
                .anticon-edit {
                    margin-left: 15px;
                    &:hover {
                        color: var(--text-hover-color);
                    }
                }
            }
            .todo-list {
                align-self: center;
                display: flex;
                flex-direction:column;
                width: 95%;
                .dash-line {
                    border-top: 1px dashed #D2D2D6;
                    width: 100%;
                    color: #292A31;
                }
                .todo-title {
                    width: fit-content;
                    background-color: white;
                    font-size: var(--md);
                    font-weight: bold;
                    color: var(--text-color-dark);
                    position: relative;
                    bottom: 10px;
                    align-self: center;
                    .anticon-up {
                        cursor: pointer;
                        margin-left: 5px;
                        font-size: 15px;
                        color: #787885

                    }
                    .anticon-down {
                        cursor: pointer;
                        margin-left: 5px;
                        font-size: 15px;
                        color: #787885
                    }
                }
                .todo-item {
                    display: flex;
                    justify-content: space-between;
                    color: #787885;
                    font-size: 14px;
                    padding-bottom: 10px;
                    .todo-info {
                        display: flex;
                        justify-content: space-between;
                        }
                        .assignee {
                            margin-right: 15px;
                        }
                    }
                    .todo-name {
                        color: var(--text-color-extreme-dark);
                        margin-left: 10px;

                }
            }
            .activities-section {
                width: 95%;
                align-self: center;
                margin-top: 20px;
                .heading {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .title {
                        color: #787885;
                        font-size: var(--lg);
                        font-weight: bold;
                    }
                    .ant-checkbox-wrapper {
                        color: #5A5B6A;
                        font-size: var(--md);
                    }
                }
                .adding-activities-box {
                    display: flex;
                    flex-direction: column;
                    height: 54px;
                    box-shadow: 0px 0px 4px 0px #2979FF;
                    border-radius: 5px;
                    margin-top: 10px;
                    .adding-action {
                        display: flex;
                        justify-content: space-between;
                        margin-inline: 15px;
                        margin-top: 5px;
                        #emoji-icon {
                            font-size: var(--lg);
                            color: #2979FF;
                            margin-top: 5px;
                        }
                    }
                    .adding-input {
                        border-style: none;
                        margin-inline: 15px;
                    }
                    .adding-input:focus {
                        outline: none;
                    }

                }
                .activities-list {
                    .activities-item {
                        display: flex;
                        flex-direction: column;
                        margin-top: 15px;
                        .activities-info {
                            display: flex;
                            justify-content: space-between;
                            .info-group {
                                display: flex;
                                align-items: center;
                                span {
                                    margin-right: 15px;
                                }
                                .assignee {
                                    font-size: var(--md);
                                    // font-weight: bold;
                                    color: #292A31;
                                }
                                .created-time {
                                    font-style: italic;
                                    color: #787885;
                                    font-size: var(--sm);
                                }
                                .activities-tag {
                                    height: fit-content;
                                    width: fit-content;
                                    padding: 2px 10px;
                                    background-color: #43A047;
                                    color: white;
                                    font-size: 12px;
                                    text-align: center;
                                    border-radius: 4px;
                                }
                            }
                            .activities-actions {
                                font-size: var(--xl);
                                #delete-icon{
                                    margin-right: 10px;
                                }
                                #comment-icon {
                                    color: #2979FF;
                                }
                            }
                        }
                        .activities-title {
                            color: var(--text-color-extreme-dark);
                            font-size: var(--md);
                            margin-top: 5px;
                        }
                        hr {
                            border-top: 1px solid #E1E1E3;
                        }
                    }
                }
            }
        }
        .detail-view-right {
            width: 30%;
            display: flex;
            flex-direction: column;
            .assigment-section {
                .title {
                    font-size: var(--md);
                    color: var(--text-color-dark);
                }
                .owner-section {
                    margin: 15px 15px 0px 15px;
                    .owner-info-group {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 10px;
                        .owner-name {
                            font-size: var(--lg);
                            color: var(--text-color-extreme-dark);
                            display: flex;
                            align-items: center;
                            font-weight: bold;
                            span {
                                margin-left: 10px;
                            }
                            img {
                                border-radius: 100px;
                                height: 40px;
                                width: 40px;
                            }
                        }
                        .transfer-btn {
                            width: 120px;
                            height: 26px;
                            background-color: #40A9FF;
                            color: white;
                            font-size: 14px;
                            border-radius: 100px;
                            line-height: 25px;
                            text-align: center;
                            align-self: center;
                        }
                    }
                }
                .participant-section {
                    display: flex;
                    flex-direction: column;
                    margin: 15px 5px 0px 5px;
                    .participant-header {
                        display: flex;
                        justify-content: space-between;
                        .title {
                            margin-left: 10px;
                        }
                        .participant-group-btn {
                            color: #2979FF;
                            font-size: 16px;
                            span {
                                margin-right: 10px;
                            }
                        }
                    }
                    .participant-info-group {
                        margin-top: 10px;
                        img {
                            border-radius: 100px;
                            height: 40px;
                            width: 40px;
                            margin-left: 10px;
                        }
                    }
                }
                .date-section {
                    font-size: 16px;
                    color: #5A5B6A;
                    margin: 15px 15px 0 15px;
                    .created-date {
                        margin-top: 5px;
                    }
                }
            }
            .attachment-section {
                .attachment-title {
                    margin: 15px 15px 0 15px;
                    span {
                        height: 20px;
                        position: relative;
                        top: 10px;
                        background-color: white;
                        color: #2979FF;
                    }
                    .attachment-dash-line {
                        border-top: 1px dashed #D2D2D6;
                    }
                }
                .attachment-list {
                    margin-top: 20px;
                    .attachment-item {
                        @include display-flex;
                        padding: 5px 15px;
                        &:hover {
                            background-color: var(--background-hover-color);
                            #delete-icon {
                                font-size: var(--xl);
                                display: block;
                            }
                        }
                        span {
                            color: #5A5B6A;
                            font-size: 12px;
                            margin-right: 10px
                        }
                        .anticon {
                            font-size: var(--md);
                        }
                        .anticon-file-pdf {
                            color: #FFB41F;
                        }
                        .anticon-file-image {
                            color: #43A047;
                        }
                        .anticon-file-word {
                            color: var(--text-hover-color);
                        }
                        #delete-icon {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1536px) {
    .work-detail {
        width: 900px;
    }
    .item-description {
        font-size: 16px;
    }
    .owner-name {
        font-size: 16px;
    }
    .transfer-btn {
        width: 100px;
        font-size: 12px;
    }
 }
@media (max-width: 1024px) {
   .work-detail {
       display: none;
   }
}
